<body>  
  <div class="container">
    <ul class="list-unstyled row my-5 border p-3">
      <li class="media col-4">
        <a href="amazon">
        <img class="mr-3" src=https://d2ueuvlup6lbue.cloudfront.net/attachments/8a1c9488a54b096d899024477fdd4cf39fedb3e4/store/fit/64/64/8fef5edb6b0371357e973f03ea3d72d395f5b411c37ea7ee06f8804fa059/_.png>
        <div class="media-body">
          <h5 class="mt-0 mb-1">Amazon Prime Video</h5>
        </a>
        </div>
      </li>
      <li class="media col-4">
        <a href="netflix">
        <img class="mr-3" src=https://d2ueuvlup6lbue.cloudfront.net/attachments/7e34c5651f033fdb200fb5136b8386a9ce80a8b6/store/fit/64/64/16aa6c4e0304b713193a96ccbfa3e4861fa0753bb4e5841e38121a3d0bfd/_.png>
        <div class="media-body">
          <h5 class="mt-0 mb-1">Netflix</h5>
        </a>  
        </div>
      </li>
      <li class="media col-4">
        <a href="unext">
        <img class="mr-3" src=https://d2ueuvlup6lbue.cloudfront.net/attachments/4d65196d0c1678b1ff37228d932cc9b5893766f6/store/fit/64/64/ebe835891a26d1285991c648ef1a373417944c1e313cc47bce45dda18379/_.png>
        <div class="media-body">
          <h5 class="mt-0 mb-1">U-NEXT</h5>
        </a>  
        </div>
      </li>
    </ul>
    <h3 class="row justify-content-md-center my-5">Amazon Prime Videoで鑑賞できる作品</h3>
    <div class="card mb-5">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img style="height: 400px; width: 100%; object-fit: contain; background-color: black;" src="https://d2ueuvlup6lbue.cloudfront.net/attachments/9fd6f2937233b6ff9f4f8950494357b0e5ba6782/store/fitpad/300/400/602643410621dccb9cac41f90c5fa0c50956c53e2b32558e94adfa3310fa/_.jpg" class="mw-100" alt="...">
        </div>
        <div class="col-md-8 row ml-2">
          <div class="card-body">
            <h3 class="card-title mb-4">映画タイトル</h3>
            <p class="card-text">評価　上映時間　上映年</p>
            <p class="card-text">ここにあらすじを書くここにあらすじを書くここにあらすじを書くここにあらすじを書くここにあらすじを書くここにあらすじを書くここにあらすじを書くここにあらすじを書くここにあらすじを書くここにあらすじを書く</small></p>
          </div>
          <ul class="list-group list-group-flush col-2 ml-3">
            <li class="list-group-item">監督</li>
            <li class="list-group-item">出演</li>
            <li class="list-group-item">ジャンル</li>
          </ul>
          <ul class="list-group list-group-flush col-4 ml-3">
            <a href="#" class="list-group-item list-group-item-action">監督</a>
            <a href="#" class="list-group-item list-group-item-action">出演</a>
            <a href="#" class="list-group-item list-group-item-action">ジャンル</a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <a href="#" class="btn btn-primary">トップへ戻る</a>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>映画サービス</p>
      </blockquote>
    </div>
  </div>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>